@import "_var.sass"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	footer
		.main-menu
			position: relative
			
	.main-menu
		display: none
		float: right
		background-color: #1C242C
		border-top: 3px solid rgba(0, 0, 0, 0.6)
		border-bottom: 3px solid rgba(0, 0, 0, 0.6)
		width: 100%
		text-align: center
		text-transform: uppercase
		position: absolute
		z-index: 2
		left: 0
		ul
			li
				display: block
				padding: 0
				&.active
					a
						background-color: #273646
						text-decoration: none
			a
				display: block
				padding: 0 20px
				text-decoration: none
				background-color: transparent
				transition: all 0.5s ease
				border-bottom: 1px solid #222C36
				&:hover
					background-color: #273646
					text-decoration: none
	.phone
		padding-right: 75px

	.section-3
		.info-item-wrap:nth-child(4)	
			margin-right: 30px

	.section-5
		.arrow-item:last-child
			margin-left: 0

	.section-8
		.forms
			padding: 36px 30px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991.5px)
	.header-top
		padding-bottom: 36px

	.header-wrap 
		h1
			margin-top: 0px

	.header-left
		margin-bottom: 20px
		h1
			margin-bottom: 15px
	
	.top-content
		.s1-triangle
			background-size: cover

	.info-item
		margin: 15px 0 0
	
	.section-3
		.s3-icon-wrap
			display: none
		.top-content
			min-height: auto
			background-size: contain
			.info-item-falsh
				display: none

		.info-item-wrap:nth-child(1), .info-item-wrap:nth-child(3)
			.info-item
				margin: 15px 0 0
		.info-item-wrap:nth-child(4)	
			margin-right: 0px
		.info-item-wrap:nth-child(8)
			margin-top: 0px	
		
	.section-5
		.arrow-item:nth-child(3)
			margin-left: 0
		.arrow-item:last-child
			margin-left: -45px

	.section-7
		.slider
			.owl-nav
				> div
					left: 60px
				.owl-next
					right: 60px

	.section-8
		.section-head
			h2
				text-align: center
				&::after
					left: 50%
					transform: translate(-50%, 0)
			p 
				text-align: center
		.forms
			p
				text-align: left

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	header
		.main-menu
			width: 96%
			left: 2%
	.section-main 
		header
			padding: 35px 0
			
	.header-wrap
		h1
			text-align: center

	.bottom-content
		.info-item-wrap:nth-child(2)
			.info-item
				margin-top: 0

	.info-item-wrap:last-child
		.info-item
			p
				border: none

	.info-item
		min-width: 100%
		margin: 0
		p
			margin-bottom: 10px

	.section-2
		ul
			.s2-item
				margin-bottom: 30px
			.img-wrap
				padding-bottom: 12px
				padding-top: 20px
	
	.section-3
		.info-item-wrap:nth-child(1), .info-item-wrap:nth-child(3)
			.info-item
				margin: 0
		.info-item
			h4
				margin-bottom: 15px	

	.section-5
		.top-content
			margin: 0 0 35px

	.section-7
		.slider
			.owl-nav
				> div
					left: 30px
				.owl-next
					right: 30px

	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

@media only screen and (max-width : 641px)
	.bottom-content
		padding-bottom: 17px

	.section-2
		.top-content
			padding-bottom: 0

	.section-3
		.top-content
			background-repeat: no-repeat //repeat-y
			background-position: center center
			ul
				text-align: left
				li
					max-width: 100%
		.info-item
			max-width: 100%

	.section-5
		.top-content
			.arrow-item
				margin: 0 40px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	header
		.main-menu
			width: 94%
			left: 3%

	.phone-wrap
		.phone
			font-size: 1em
			line-height: 3
			padding-right: 60px
		.toggle-menu
			height: 20px
			margin: 20px auto 0

	.logo
		img
			width: 70px
	.header-wrap, .section-8
		.forms
			padding: 36px 30px

	.header-top
		padding-top: 26px

	.header-wrap
		h1
			font-size: 2.5em
			margin-bottom: 10px

	.header-left
		margin-bottom: 15px	
		text-align: center
		ul
			li
				text-align: left
				font-size: 0.9em
				&::before
					top: 7px

	.info-item
		padding-left: 4px
	
	.section-1
		.top-content
			background-position: bottom

	.section-2, .section-3
		.section-button
			.buttons
				height: 65px
				width: 260px
				margin: 50px auto

	.section-5
		.top-content
			.arrow-item
				margin: 0 auto

	.section-7
		.slider
			.owl-nav
				top: 8%
				> div
					left: 20px
				.owl-next
					right: 20px
	footer
		.top-content
			padding: 40px 0 30px

	#callback
		max-width: 300px
		padding: 26px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 991px)
	.section-8
		ul
			li
				margin-bottom: 0


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px)
	.main-menu
		display: block !important
	
