@import "bourbon"
@import "_var.sass"


/*global style*/
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.375
	font-family: RalewayRegular, $helvetica
	overflow-x: hidden
	color: #333
.hidden
	display: none
	
h1, h2, h3, h4, h5, h6
	font-family: PFCentroSlabProMedium, $helvetica
	text-transform: uppercase
	font-weight: normal
	color: $text-color

h1
	font-size: 3em
	line-height: 1.313
	text-align: left
	color: #2c3949

h2
	font-size: 1.875em
	line-height: 1.2
	color: #2c3949

h3
	font-size: 1.5em
	line-height: 1.5
	color: #394b5f
	text-align: center
	margin: 65px 0 20px

a, a:hover, a:focus, a:active 
	color: $main-color
	text-decoration: underline
	transition: all 0.5s ease

b, strong 
	font-family: RalewayBold
	font-weight: normal
	font-size: 0.938em
	line-height: 1.467

.before
	content: ""
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0

.ulmenu
	list-style-type: none
	margin: 0
	padding: 0
	li
		display: inline-block

/*header*/
.main-head
	height: 100%
	min-height: 620px
	background-size: cover
	background-position: 75% center
	position: relative
	padding-bottom: 55px
	&::before
		@extend .before
		background-color: rgba(57, 75, 95, 0.85)
	h1
		text-transform: none

/*top-line*/
.header-top
	padding-top: 35px
	padding-bottom: 75px
	min-height: 48px
	background: url("img/top_gradient.png") repeat-x
	//min-height: 320px
	//background: linear-gradient(to bottom, rgba(57, 75, 95, 0.75) 0%, transparent 50%)

.logo
	opacity: 0.95
	img
		width: 100px

.main-menu
	font-size: 0.913em
	line-height: 3.714
	margin-top: 5px
	ul
		@extend .ulmenu
		a 
			text-decoration: none
			color: #fff
	li
		padding: 0 10px
		&.active
			a
				color: $main-color
				text-decoration: underline
		a:hover
			color: $main-color
			text-decoration: underline

.phone-wrap
	position: relative
	.phone
		opacity: 0.9
		font-family: RobotoBold, $helvetica
		color:  #fff
		font-size: 1.25em
		line-height: 2.5
		text-align: right
		white-space: nowrap
	.toggle-menu
		display: block
		float: right
		position: absolute
		top: 0
		right: 0
		width: 32px
		height: 37px
		text-align: center
		padding-top: 20px

/* Important styles */
.toggle-menu span:after,
.toggle-menu span:before 
	content: "";
	position: absolute
	left: 0
	top: -9px

.toggle-menu span:after
	top: 9.5px;

.toggle-menu span 
	position: relative
	display: block

.toggle-menu span,
.toggle-menu span:after,
.toggle-menu span:before 
	width: 100%
	height: 2px
	background-color: #fff
	transition: all 0.3s ease
	backface-visibility: hidden
	border-radius: 2px

/* on activation */
.toggle-menu.on span
	background-color: transparent
.toggle-menu.on span:before 
	transform: rotate(45deg) translate(5px, 5px)

.toggle-menu.on span:after
	transform: rotate(-45deg) translate(7px, -8px)

.toggle-menu.on + #menu
	opacity: 1;
	visibility: visible

/* header-wrap*/
	 		
.header-wrap
	//padding-top: 106px
	h1
		margin-top: 110px
		color: #fff
		border-bottom: 7.5px solid $main-color
		display: inline-block
		padding-bottom: 8.5px
	ul
		@extend .ulmenu
		margin-top: 5px
		li
			display: block
			font-family: RalewaySemiBold, $helvetica
			font-size: 1.125em
			line-height: 1.8
			padding-left: 17px
			position: relative
			&::before
				@extend .before
				+triangle(12px, $main-color, right)
				top: 10px
			a
				text-decoration: none
				color: #fff
				transition: all 0.4s ease
				&:hover
					//color: $main-color
					text-decoration: underline
				&:active
					//color: $main-color
					text-decoration: underline

.header-left
	margin-bottom: 50px

.forms
	background-color: rgba(36, 51, 67, 0.8)
	box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.6)
	color: rgb(151, 164, 178)
	padding: 36px
	font-family: RalewayRegular
	font-size: 0.813em
	line-height: 1.385
	letter-spacing: 0.3px
	h4
		font-family: PFCentroSlabProMedium, $helvetica
		color:  #fff
		font-size: 2.1em
		line-height: 1
		text-transform: none
		margin: 0 0 15px 0
	label
		display: block
		margin-top: 16px
		color:  rgb(119, 131, 144)
		font-size: 0.913em
		line-height: 2.3
		letter-spacing: 1.3px
		//margin-left: -7px
	input
		//min-width: 290px
		display: block
		width: 100%
		height: 47px
		//margin-left: -7px
		border: none
		outline: none
		border-top: 3px solid rgb(28, 42, 54)
		background-color:  rgb(52, 70, 90)
		font-family: PFCentroSlabProMedium, $helvetica
		font-size: 1.475em
		text-indent: 10px
		transition: border 0.7s ease
		&:focus
			border-top: 3px solid $main-color
	.section-button
		min-height: 83px
		&::before
			height: 0
			width: 0
			background-image: none
		.buttons
			width: 176px
			height: 47px
			margin: 32px 0 0
			font-size: 1.45em

.section-button
		text-align: center
		min-height: 170px

.buttons
	display: inline-block
	border: none
	padding: 10px 30px
	font-family: PFCentroSlabProBold, $helvetica
	color: #111
	font-size: 1.25em
	line-height: 1.1
	text-decoration: none
	background-color: $main-color
	box-shadow: 0 3px 0px 0px rgb(185, 114, 0)
	transition: background-color 0.3s ease
	border-radius: 2px
	&:hover
		background-color: lighten($main-color, 7%)
		text-decoration: none
		color:  #111
	&:active
		background-color: darken($main-color, 10%)
		text-decoration: none
		color:  #111
		outline: none
	&:focus
		text-decoration: none
		color:  #111

.arrow-down
	text-align: center
	padding-top: 40px
	a
		text-decoration: none
		color: #fff
		width: 40px
		height: 40px
		border: 1px solid #fff
		opacity: 0.5
		position: relative
		transition: all 0.5s ease
		&:hover
			transform: rotate(360deg)
			border-radius: 50%
			opacity: 1
		&::before
			position: absolute
			font-size: 1.2em
			top: 10px
			right: 10px
			
