@import "bourbon"
@import "_var.sass"
@import "../app/libs/owl-carousel/assets/owl.carousel.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $main-color
body input:required:valid,
body textarea:required:valid
	color: $main-color


.before
	content: ""
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0

// section-main 
.section-main
	position: relative
	background-color: #f9f9f9
	&::before
		@extend .before
		top: -6px
		height: 6px
		background-image: url("img/bah_1.png")
	header
		padding: 65px 0
		p
			margin-top: 60px
			text-align: center
			animation-delay: 0.2s
			a:hover
				text-decoration: none
		h2
			text-align: center
			position: relative
			&::after
				content: ""
				position: absolute
				width: 165px
				height: 4px
				background-color: $main-color
				bottom: -30px
				left: 50%
				transform: translate(-50%, 0)

// section-button
.section-button
	.buttons
		height: 47px
		margin: 58px auto
		min-width: 200px

// section-dark
.s-dark
	background-color: $bg-color-dark
	color: #f9f9f9
	&::before
			background-image: url("img/bah_2.png")
	header
		padding-bottom: 20px
		h2
			color: #f9f9f9
		p
			color: #e5e5e5
	.section-button
		background-color: $bg-color
		


// section-1
.section-1
	.section-button
		background-color: $bg-color-dark
	.top-content
		background-image: url("img/s1_gray_bg.png")
		background-repeat: no-repeat
		background-position: top
		position: relative

	.top-content
		padding-bottom: 70px
		.s1-triangle
			position: absolute
			bottom: 0
			height: 67px
			width: 100%
			background-image: url("img/s1_triangle.svg")
			background-repeat: no-repeat
			background-position: top
			background-size: 100% 100%
			text-align: center
			z-index: 2
			.triangle-logo
				width: 118px
				margin-top: 20px
				margin-left: 7px
			.scales
				width: 160px
				position: absolute
				top: -130px
				left: 50%
				transform: translate(-50%, 0)
				z-index: -1

	.info-item-wrap:nth-child(2)
		.info-item
			margin-top: 0

	.info-item-wrap:nth-child(4), .info-item-wrap:last-child
		.info-item
			margin-bottom: 0
		
.info-item
	padding-left: 34px
	max-width: 320px	
	margin: 50px 0
	font-size: 0.938em
	line-height: 1.2
	h4
		margin-top: 0
		a
			font-size: 1.375em
			line-height: 1.091
			text-decoration: underline
			text-transform: none
			&:hover
				text-decoration: none
	p
		border-bottom: 1px solid darken(rgb(218, 221, 224), 5%)
		padding-bottom: 20px
		color:  #111

.bottom-content
	background-color: $bg-color
	padding: 20px 0 67px
	.info-item
		margin-bottom: 0
		p
			color: #fff
			border-color: rgb(84, 100, 118)

	.info-item-wrap:nth-child(2)
		.info-item
			margin-top: 60px
// end section-1

// section-2
.section-2
	header
		padding-bottom: 45px
	.top-content
		padding-bottom: 35px
	h3
		a:hover
			text-decoration: none
	ul
		list-style: none
		text-align: center
		margin: 0
		padding: 0
		li
			display: inline-block
			padding: 0 15px
			width: 185px
			vertical-align: top
			opacity: 0
			transition: all 0.3s ease
			transform: translateY(-25px)
			&.on
				opacity: 1
				transform: translateY(0)
		.s2-item
			text-align: center
			display: block
			margin-bottom: 55px
			color: #111
			transition: all 0.5s ease
			&:hover
				text-decoration: none
				color: $main-color
				transform: translateY(-10px)
		.img-wrap
			display: block
			position: relative
			padding-bottom: 32px
			line-height: 3.75
			&::before
				@extend .before
				height: 1px
				width: 65px
				background-color: $main-color
				top: 93px
				left: 50%
				transform: translate(-50%, 0)
			img
				max-width: 75px
				max-height: 60px
		.s2-item-text
			font-family: RalewayBold, $helvetica
			font-size: 0.813em
			line-height: 1.231

	.section-button
		background-color: $bg-color-grey
// end section-2
				
// section-3
.section-3
	.top-content
		position: relative
		min-height: 850px
		background-image: url("img/s3_sun_bg.png")
		background-repeat: no-repeat
		background-position: top
		ul
			list-style: none
			text-align: center
			margin: 0
			padding: 0
			li
				display: inline-block
				max-width: 320px
				padding: 0 15px
				vertical-align: top
	.s3-icon-wrap
		position: absolute
		top: 42.2%
		width: 100%
		text-align: center
		.icon-item
			width: 131px
			height: 131px
			border-radius: 50%
			background-color: $main-color
			margin: 0 auto
			img
				max-width: 70px
				max-height: 70px
				margin-top: 29px
	.info-item-falsh
		min-width: 290px
	.info-item
		text-align: left
		p
			border: 0
			color: #f9f9f9
			padding-bottom: 20px
	.info-item-wrap:nth-child(1), .info-item-wrap:nth-child(3)
		.info-item
			margin-top: 120px
	.info-item-wrap:nth-child(4)
		margin-right: 170px
	.info-item-wrap:nth-child(8)
		margin-top: 120px

	.section-button
		margin-top: 20px
		
// end section-3	

// section-4
.section-4
	background-color: $bg-color-grey
	&::before
			background-image: url("img/bah_3.png")
	header
		padding-bottom: 57px
		h3
			margin-bottom: 0
	.section-button
		background-color: #d6d6d6
		
.cards
	text-align: center
	margin-bottom: 40px
	perspective: 600px
	.card
		margin: 0 15px 30px
		display: inline-block
		text-align: center
		vertical-align: top
		background-color: $bg-color-dark
		width: 262px
		height: 376px
		box-shadow: 0 4px 0 0 rgba(0, 0, 0, 1)
		color: #97a4b2
		font-size: 0.875em
		line-height: 1.286
		padding: 0 25px
		transform: rotateY(120deg)
		opacity: 0
		transition: all 1.2s ease
		&.card-on
			opacity: 1
			transform: rotateY(0)
		&:hover
			box-shadow: 0 4px 0 0 $main-color
			.card-icon
				transform: scale(1.1)
		h4
			font-family: RalewayBold
			color: #e5e5e5
			font-size: 1em
			line-height: 2.25
		strong
			color: $main-color
		.card-icon
			margin: 57px auto 40px
			background-color: $main-color
			border-radius: 50%
			width: 120px
			height: 120px
			transition: all 0.5s ease
			background-repeat: no-repeat
			background-position: center
			background-size: 65%
			&.icon_1
				background-image: url("img/icons/section_4/1.svg")
			&.icon_2
				background-image: url("img/icons/section_4/2.svg")
			&.icon_3
				background-image: url("img/icons/section_4/3.svg")
// end section-4

// section-5
.section-5
	.top-content
		color: #fff
		font-family: PFCentroSlabProMedium, $helvetica
		font-size: 1.125em
		line-height: 1.222
		margin: 50px 0 70px
		text-align: center
		perspective: 600px
.arrow-item
	width: 290px
	height: 129px
	display: inline-block
	position: relative
	vertical-align: top
	margin-left: -45px
	cursor: default
	opacity: 0
	transition: all 0.5s ease
	&.arrow-on
		opacity: 1
	&:first-child
		margin-left: 0
		.arrow-content
			margin-left: 40px
	&:hover
		transform: scale(1.08)
		z-index: 3
		path
			fill-opacity: 0 !important
			stroke-opacity: 1 !important
	svg
		position: absolute
		top: 0
		left: 0
		z-index: 0
	.arrow-content
		position: relative
		z-index: 1
		margin-top: 40px
		margin-left: 57px
		text-align: left
		padding-right: 35px
		span
			color: #f9f9f9
			font-family: PFCentroSlabProBold, $helvetica
			font-size: 1.255em
			line-height: 1
			position: absolute
			margin-left: -22px
			margin-top: -2px
		img
			height: 45px
			float: left
			margin-right: 35px
// end section-5

// section-6
.section-6
	header
		padding-bottom: 55px
	.team
		margin-bottom: 50px
		.card
			height: auto
			background-color: $bg-color-grey
			box-shadow: 0 4px 0 0 rgb(214, 214, 214)
			&:hover
				box-shadow: 0 4px 0 0 $main-color
				.card-icon
					border: 4px solid $main-color
			h4
				color: #333
				margin: 0
				line-height: 1
				margin-bottom: 12px
				text-transform: none
			p 
				margin: 0
				color: #6e7b8b
				font-size: 0.813em
				line-height: 1.13
			.team-phone
				font-family: RobotoBold, $helvetica
				font-size: 1.15em
				line-height: 1
				color: #333
				margin: 26px 0 50px
		.card-icon
			border: 4px solid rgb(214, 214, 214)
			background-size: 100%
			&.icon_1
				background-image: url("img/team/1.jpg")
			&.icon_2
				background-image: url("img/team/2.jpg")
			&.icon_3
				background-image: url("img/team/3.jpg")
	
// end section-6

// section-7
.section-7
	background-color: $bg-color-grey
	&::before
			background-image: url("img/bah_3.png")
	header
		padding: 55px 0 50px
	.top-content
		padding-bottom: 70px
.slider
	.slide
		text-align: center
		position: relative
		.img-wrap
			display: inline-block
			width: 120px
			height: 120px
			border-radius: 50%
			border: 6px solid $main-color
			img
				border-radius: 50%
		h3
			font-family: RalewayBold, $helvetica
			text-transform: none
			color: #333
			font-size: 1.125em
			line-height: 2
			margin: 35px 0 0
		p
			font-size: 0.813em
			color: #6e7b8b
			margin-top: 5px
		.reviews
			margin-top: 25px
			font-size: 0.875em
			line-height: 1.429
	.owl-item
		.img-wrap, h3, p, .reviews
			opacity: 0
			transform: translate3d(200px, 0 , 0)
			transition: all 0.7s ease
		.img-wrap
			transition-delay: 0.1s
		h3, p
			transition-delay: 0.4s
		.reviews
			transition-delay: 0.7s
		&.active
			.img-wrap, h3, p, .reviews
				opacity: 1
				transform: translate3d(0, 0, 0)
		
	.owl-controls
		text-align: center
		margin-top: 35px
		.owl-dot
			width: 15px
			height: 15px
			margin: 0 3px
			background-color: #ccc
			display: inline-block
			border-radius: 50%
			&.active
				background-color: $main-color
		.owl-nav
			position: absolute
			top: 12%
			width: 100%
			> div
				height: 30px
				width: 16px
				background-image: url("img/slider_arrows.png")
				position: absolute
				left: 100px
				opacity: 0.5
				transition: opacity 0.25s ease
				&:hover
					opacity: 1
			.owl-next
				right: 100px
				left: auto
				background-position: -16px 0
// end section-7

// section-8
.section-8
	.section-head
		padding: 90px 0
		h2
			text-align: left
			margin-top: 0
			&::after
				left: 0
				transform: none
		p 
			text-align: left
			font-size: 0.938em
			line-height: 1.467
	ul
		list-style: none
		text-align: center
		margin: 0
		padding: 0
		margin-top: 45px
		li
			display: inline-block
			vertical-align: top
			margin-bottom: 20px
			//opacity: 0
			//transform: translateY(-15px)
			transition: all 0.5s ease
			//&.on
			//	opacity: 1
			//	transform: translateY(0)
		.s2-item
			text-align: center
			display: block
			color: #333
			text-decoration: none
			transition: all 0.5s ease
			&:hover
				text-decoration: none
				transform: translateY(-10px)
		.img-wrap
			display: block
			position: relative
			padding-bottom: 30px
			line-height: 3.75
			img
				max-height: 72px
		.s2-item-text
			font-family: RalewayBold, $helvetica
			font-size: 0.813em
			line-height: 1.331
			text-align: center
			margin-top: 0

	.forms
		background-color: rgba(214, 214, 214, 0.8)
		box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.5)
		color: #5e6267
		h4
			color: $bg-color-dark
		p 
			margin: 13px 0
		input
			border-top: 3px solid rgba(0, 0, 0, 0.4)
			background-color:  #c0c0c0
			&:focus
				border-top: 3px solid $main-color
			&:valid
				color: $bg-color-dark
			&:invalid
				color: $bg-color-dark
		.section-button
			min-height: 83px
		
// end section-8

//footer
footer
	.top-content
		padding: 70px 0 58px
	.main-menu
		margin: 0
		a
			color: rgb(181, 186, 191)
	.logo
		opacity: 0.35
	.phone-wrap
		position: relative
		.phone
			opacity: 0.45
		.toggle-menu
			display: block
			float: right
			position: absolute
			top: 0
			right: 0
			width: 32px
			height: 37px
			text-align: center
			padding-top: 20px

/* Important styles */
.toggle-menu span:after,
.toggle-menu span:before 
	content: "";
	position: absolute
	left: 0
	top: -9px

.toggle-menu span:after
	top: 9.5px;

.toggle-menu span 
	position: relative
	display: block
footer
	.toggle-menu span,
	.toggle-menu span:after,
	.toggle-menu span:before 
		width: 100%
		height: 2px
		background-color: rgb(181, 186, 191)
		transition: all 0.3s ease
		backface-visibility: hidden
		border-radius: 2px

/* on activation */
.toggle-menu.on span
	background-color: transparent
.toggle-menu.on span:before 
	transform: rotate(45deg) translate(5px, 5px)

.toggle-menu.on span:after
	transform: rotate(-45deg) translate(7px, -8px)

.toggle-menu.on + #menu
	opacity: 1;
	visibility: visible

// end footer

// arrow-up
.arrow-up
	text-align: center
	a 
		display: block
		height: 36px
		padding-top: 7px
		color: rgb(150, 152, 155)
		background-color: #1f2b3a
		text-decoration: none
		i 
			display: block
			height: 8px
// end-arrow-up

// callback - popup
#callback
	max-width: 360px
	margin: auto
	position: relative

.mfp-forms
	.mfp-close
		color: #fff
	&.mfp-bg
		opacity: 0
		transition: all 0.25s ease-out
		&.mfp-ready
			opacity: 0.8
		&.mfp-removing
			opacity: 0
	&.mfp-wrap
		.mfp-content
			opacity: 0
			transition: all 0.25s ease-out
		&.mfp-ready .mfp-content
			opacity: 1
		&.mfp-removing .mfp-content
			opacity: 0



//ALWAYS END
@import "_media.sass"
